body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #F15B31;  
}
nav {
    background-color: #00A6B3;
    display: block;
    
}
nav a{
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}
a {
    font-family: 'Raleway', Courier, monospace;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: unset;
    text-transform: uppercase; 
    
}
nav a:hover {
    background-color: #FFFFFF;
    color: #0000FF;
}
h1 {
    font-family: 'Raleway', Courier, monospace;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

h3 {
    font-family: 'Raleway', Courier, monospace;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    margin: 25px;

}
p {
    font-family: 'droid serif', Courier, monospace;
    line-height: 26px;
    font-size: 18px;
    margin: 25px;

}

img{
    margin: 10px;
}

main {
    display: block;
    margin: 0 auto;
    width: 850px;
    
}
footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
.copyright {
    font-family: 'Raleway', Courier, monospace;
    float: left;
}
.message {
    font-family: 'Raleway', Courier, monospace;
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }
    .name {
        color: #F15B31;
        font-weight: 700;
    }